In [2]:
# Connecting to the mySQL server
import os
import mysql.connector
import pandas as pd
import matplotlib.pylab as plt
from dotenv import load_dotenv
load_dotenv()
host = os.getenv("MYSQL_HOST")
user = os.getenv("MYSQL_USER")
password = os.getenv("MYSQL_PASSWORD")
database = os.getenv("MYSQL_DB")

db = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

In [3]:
Query1 = pd.read_sql_query("""
    SELECT ROW_NUMBER() OVER (ORDER BY avg(Price) DESC) AS Number, Brand, Model, AVG(Price) AS Average
    FROM `car_price_dataset`
    GROUP BY Brand, Model
    ORDER BY Average DESC
    LIMIT 5;
""", db)
Query1

C:\Users\Alexis Flores\AppData\Local\Temp\ipykernel_20072\1849819657.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Query1 = pd.read_sql_query("""

   Number       Brand    Model    Average
0       1   Chevrolet  Equinox  9156.3206
1       2  Volkswagen   Tiguan  9098.8636
2       3    Mercedes      GLA  9049.8444
3       4   Chevrolet   Impala  9001.1155
4       5      Toyota  Corolla  8996.6185